.iconTextRow {
    margin-top: 30px;
  }
  
  .iconTextRow p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  @media (max-width: 576px) {
    .iconTextRow .col-6 {
      margin-bottom: 20px;
    }
    
    .iconTextRow i {
      font-size: 2rem;
    }
  
    .iconTextRow p {
      font-size: 12px;
    }
  
    .container h2 {
      font-size: 1.5rem;
    }
  
    .container p {
      font-size: 0.875rem;
    }
  }
  