#widthsize2{
    width: 376px;
    font-size: 12px;
    margin-top: -3px;
    margin-bottom: 1px;
}
#footerkasize{
    height: 50px;
    margin-top: 11px;}
.moosalala{
    width: 573px !important;
}
.mubeengujjar2{ 
    border: 1px solid rgb(227, 224, 224);
    border-radius: 6px;
    height: 42px;}
.addwidth{
    width: 66px;
    /* background-color: green; */
}
.cnsize{
    font-size: 12px;
    height: 33px;
    padding-left: 8px;
    border-radius: 5px;
    /* border-color:rgb(227, 224, 224);  */
    /* border-top-color: rgb(227, 224, 224);; */
    box-shadow: 0;
}
/* .rightItem .textinput {
    border-color: rgb(227, 224, 224);
} */
.subjectfs{
    font-size: 13px;
    /* width: 40% !important; */
    /* width: 40% !important; */
}
.mtfs{
    font-size: 13px;
}
.fontsize{
    font-size: 13px;
    height: 34px;

}
.sizemtli{
 font-size: 13px !important;
 height: 34px;
    
}
.fsnotes {
    font-size: 13px;
}
.metnot{
    padding-top: 10px;
    padding-left: 7px;
    font-size: 13px;
}
.fsremainder{
    font-size: 13px;
}
.styleemail{
    /* height: 33px; */
    /* border-radius: 3px !important; */
    font-size: 13px;

}
/* .styyle{
    height: 33px !important;
    border-radius: 3px !important;
} */
 .fswhatsapp{
    font-size: 13px;
 }
 .modalwidth55{
    width: 597px !important;
 }
 .customwidth{
    width: 40%;
 }
 .susize{
    font-size: 14px;
    font-weight: 500;
 }
 .remindsize{
    font-size: 13px;
 }
 