.__className_36bd41{
    background: #d9e2ed;
}

#coin{
    width: 280px;
    padding: 3px;
}


#check{
    height: 16px;
}
.fw-style{
    font-size: 12px;
    font-weight:600 ;
}
.fwl-style{
font-size:11px ;
font-weight:400 ;
}