.__className_36bd41{
    background: #dde9f7;
  }
  #btn{
    color: #69aef3;
  }

  #btn3{
    color: white;
    border-radius: 7px;
  }
  #main{
    padding: 22px;
    border-radius: 15px;
  }
  #icon{
    margin-left: 302px;
  }

  .hidden {
    display: none;
  }
#main2{
  width: 100%;
  border-radius: 12px;
  padding: 4px;
}
#text{
  cursor: pointer !important;
}
#text:hover{
  border: 2px solid;
  
}
.password{

  text-align: center;

  color: red;
}


@media (max-width: 576px) {
  #main2 {
    margin-top: 20px; /* Or any desired value */
  }
}
.title-style{
  font-weight: 600;
  font-size: 20px;
} 

