p{
    margin: 0;
    padding: 0;
    font-size:12px !important;
    font-weight: 100;
    font-family:sans-serif;
    line-height: normal;
   
  }
.title-style{
    font-weight: 600 !important;
    font-size: 20px !important;
  }  