.menu-1 {
    font-size: 14px;
  }
  
  /* .case-header {
    background-color: white;
    border: 1px solid #dee2e6;
  
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
  } */
  .menu-2{
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  .menu-3{
    background-color: white;
    border: 1px solid #dee2e6;
    width: 100%;
    border-radius: 5px
  }
  
  /* .sidebar {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
  } */
  
  .content-section {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    border-left: 1px green solid;
    background-color: #ffffff;
  }
  .main-section{
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
   
  }
  
  .status {
    color: green;
    font-weight: bold;
  }
  
  .action-link {
    display: inline-block;
    padding: 8px 16px;
    /* border: 1px solid #007bff; Bootstrap Primary Color */
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    color:black;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .action-link:hover {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .action-link.danger {
    border-color: #dc3545; /* Bootstrap Danger Color */
    color: #dc3545;
  }
  
  .action-link.danger:hover {
    background-color: #dc3545;
    color: #ffffff;
  }
  